#recruit-detail-container {
  padding: 60px 60px 60px 60px;
}

#recruit-detail-general-info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

#recruit-detail-general-info > * {
  display: inline-block;
}

#general-info-head > * {
  display: inline-block;
}

#recruit-detail-movie-title {
  font-weight: bold;
}

#recruit-detail-expiration-time {
  margin-left: 16px;
  font-weight: bold;
}

#detail-leader-info-container {
  display: flex;
}

#recruit-detail-location {
  font-size: 22px;
}

#recruit-detail-leader {
  font-size: 22px;
  margin-left: 10px;
}

#recruit-detail-follower {
  font-size: 22px;
  margin: 0px 0px 0px 10px;
}

#general-info-head-right {
  display: flex;
  align-items: center;
}

#recruit-detail-favorite-btn {
  margin-right: 40px;
}

#recruit-detail-join-btn {
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 3px 8px 3px 8px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.recruit-detail-info-boxes {
  border-bottom: 1px solid black;
}

.recruit-detail-sub-box {
  margin-top: 10px;
  font-size: 20px;
}

.recruit-detail-sub-box > span {
  display: inline-block;
  margin-left: 15px;
}

.recruit-detail-member-container {
  display: flex;
  padding-bottom: 20px;
}

.recruit-detail-member-card {
  margin-left: 30px;
}

.recruit-detail-member-avatar {
  height: 70px;
  width: 70px;
  border: 1px solid gainsboro;
  border-radius: 100%;
}

.recruit-detail-member-role {
  margin-top: 15px;
  text-align: center;
  font-size: 20px;
}

.recruit-detail-comment{
  margin-bottom: 5px;
  font-size: 15px;
}

#recruit-detail-comment-btn {
  background-color: black;
  color: white;
  padding: 5px;
  width: 90px;
  text-align: center;
  border-radius: 10px;
  margin: 10px 0;
}

@media only screen and (max-width: 768px) {
  #recruit-detail-container {
    padding: 0;
  }

  .recruit-detail-info-boxes {
    margin: 0 20% 0 20%
  }

  #recruit-detail-general-info.recruit-detail-info-boxes {
    margin: 0;
    color: white;
  }

  #recruit-detail-general-info {
    padding: 5% 20% 3% 20%;
    background-color: grey;
    flex-direction: column;
  }

  #detail-leader-info-container {
    margin-bottom: 8px;
  }

  #recruit-detail-location {
    font-size: 1rem;
  }

  #recruit-detail-leader {
    font-size: 1rem;
  }

  #recruit-detail-follower {
    font-size: 1rem;
  }

  #recruit-detail-favorite-btn {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 3px 8px 3px 8px;
    font-size: 1rem;
    border-radius: .4rem;
    cursor: pointer;
    margin-right: 15px;
  }

  #recruit-detail-join-btn {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 3px 8px 3px 8px;
    font-size: 1rem;
    border-radius: .4rem;
    cursor: pointer;
  }

  #recruit-detail-comment-title {
    margin-top: 10px;
  }

}