.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.window {
    height: 50%;
    display: flex;
    flex-direction: column;
}
.input-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}