.profile-page-project {
    text-decoration: none;
    padding: .5rem;
    background-color: black;
    color: white;
    padding: .2rem .5rem .2rem .5rem;
    font-size: 1rem;
    border-radius: .2rem;
    margin: .7rem .5rem .5rem .5rem;
    flex-wrap: wrap;
    cursor: pointer;
}

.profile-page-project:hover {
    text-decoration: none;
    background-color: white;
    border: 1px solid black;
    color: black;
    border-radius: .2rem;
    margin: .7rem .5rem .5rem .5rem;
    flex-wrap: wrap;
    cursor: pointer;
}