@media only screen and (min-width: 768px) {
  .navbar {
    padding-bottom: 0px;
    padding-top: 0px;
  }
  /* .bg-dark {
    background-color: black !important;
  } */
  .color-nav {
    background-color: black;
  }
  /* navbar title*/
  .navbar-light .navbar-brand {
    color: white;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;
  }
  .navbar-light .navbar-brand:hover {
    color: white;
  }

  /* navbar button */
  .nav-btn-wrapper {
    color: white;
    border-left: 1px solid #1f1f1f;
    font-size: 15px;
    padding: 12px 25px;
    font-weight: bold;
  }
  .nav-btn-wrapper.nav-btn-last {
    border-right: 1px solid #1f1f1f;
  }
  .nav-btn-wrapper:hover {
    text-decoration: none;
    background-color: white;
    color: black;
  }
  .nav-btn-wrapper:active {
    text-decoration: none;
    background-color: white;
    color: black;
  }
  /*container for right part of navbar*/
  #navbar-right-container {
    padding-bottom: 0;
    padding-bottom: 0;
    padding-right: 1rem;
    visibility: visible;
  }

  /*username label*/
  #username-lbl {
    color: white;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    font-size: 15px;
    font-weight: bold;
  }

  /*user avatar*/
  #user-avatar {
    display: inline-block;
    border-radius: 100%;
    background-color: white;
    width: 40px;
    height: 40px;
    vertical-align: middle;
  }

  /* navbar button */
  .nav-btn-wrapper {
    color: white;
    font-weight: bold;
  }
}

@media only screen and (max-width: 768px) {
  .navbar-light .navbar-brand:hover {
    color: white;
  }

  .navbar-light .navbar-brand {
    color: white;
    font-weight: bold;
    padding-left: 1rem;
  }

  .nav-btn-wrapper {
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin-top: 7px;
    padding-left: 1rem;
  }

  .nav-btn-wrapper:hover {
    text-decoration: none;
    color: black;
    background-color: white;
  }

  #username-lbl {
    font-size: 15px;
    text-decoration: none;
    padding-left: 1rem;
    color: white;
    margin-top: 7px;
    font-weight: bold;
  }

  .link:hover {
    text-decoration: none;
  }

  #username-lbl:hover {
    color: black;
    background-color: white;
    text-decoration: none;
  }

  #user-avatar {
    display: none;
  }

  .navbar {
    padding-left: 0;
    padding-right: 0;
  }
}